<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.scotgov.GinsbergPlugin"
      version="1.0.0">

    <name>GinsbergPlugin</name>
    
	<description>
			General PhoneGap plugin to fill in missing Windows 8 Universal functionality.
	</description>
	<license>MIT</license>
	<keywords>phonegap,windows,phone,ginsberg,scotgov,ginsbergplugin</keywords>

	<js-module src="www/ginsbergplugin.js" name="GinsbergPlugin">
	  <clobbers target="window.plugins.ginsberg" />
	</js-module>
	
	 <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="GinsbergPlugin">
                <param name="wp-package" value="GinsbergPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/wp/GinsbergPlugin.cs" />
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/GinsbergPluginProxy.js" name="GinsbergPluginProxy">
            <clobbers target="window.plugins.ginsberg" />
        </js-module>
    </platform>
  
</plugin>

