<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.scotgov.ginsbergplugin"
      version="1.0.0">

    <name>GinsbergPlugin</name>
    
	<description>
			General PhoneGap plugin to fill in missing Windows 8 Universal functionality.
	</description>
	<license>MIT</license>
	<keywords>phonegap,windows,phone,ginsberg,scotgov,ginsbergplugin</keywords>

	<js-module src="www/ginsbergplugin.js" name="GinsbergPlugin">
	  <clobbers target="window.plugins.ginsberg" />
	</js-module>
	
    <platform name="windows">
        <js-module src="src/windows/ginsbergpluginProxy.js" name="GinsbergPluginProxy">
             <merges target="" />
        </js-module>
	    <framework src="src/windows/GinsbergPluginComponent/GinsbergPluginComponent.winmd" custom="true"/>	   
        <!--NOT SUPPORTED AT MOMENT: framework src="src/windows/GinsbergPluginComponent/GinsbergPluginComponent.csproj" custom="true" type="projectReference"/-->
    </platform>
  
</plugin>

