<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.scotgov.ginsbergplugin"
      version="1.0.0">

    <name>GinsbergPlugin</name>
    
	<description>
			General PhoneGap plugin to fill in missing Windows 8 Universal functionality.
	</description>
	<license></license>
	<keywords>phonegap,windows,phone,ginsberg,scotgov,ginsbergplugin</keywords>

	<js-module src="www/ginsbergplugin.js" name="GinsbergPlugin">
	  <merges target="window.plugins.ginsberg" />
	</js-module>
	
	<!-- android -->
    <!--platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SpinnerDialog">
                <param name="android-package" value="hu.dpal.phonegap.plugins.SpinnerDialog"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/SpinnerDialog.java" target-dir="src/hu/dpal/phonegap/plugins" />
        <source-file src="src/android/CallbackProgressDialog.java" target-dir="src/hu/dpal/phonegap/plugins" />
        
    </platform-->

	<!-- ios -->
	<!--platform name="ios">
	  <config-file target="config.xml" parent="/*">
		<feature name="SpinnerDialog">
		  <param name="ios-package" value="CDVSpinnerDialog"/>
		</feature>
	  </config-file>

	  <header-file src="src/ios/CDVSpinnerDialog.h" />
	  <source-file src="src/ios/CDVSpinnerDialog.m" />
	</platform-->

  <!-- wp8 -->
  <!--platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="SpinnerDialog">
        <param name="wp-package" value="SpinnerDialog"/>
      </feature>
    </config-file>
    
    <source-file src="src/wp/SpinnerDialog.cs" />
  </platform-->

  <!-- windows -->
  <platform name="windows">
    <config-file target="config.xml" parent="/*">
      <feature name="GinsbergPlugin">
        <param name="wp-package" value="GinsbergPlugin"/>
      </feature>
    </config-file>
    
    <source-file src="src/windows/GinsbergPlugin.cs" />
	<!--js-module src="src/windows/echopluginProxy.js" name="EchoProxy">
		<merges target="" />
	</js-module>
	<framework src="src/windows/EchoRuntimeComponent.winmd" custom="true"/-->
  </platform>
  
</plugin>

